.ticker {
  overflow: hidden;
  height: 6rem;
}
.ticker .ticker-container { animation: 9s normal infinite running scroll; }
@keyframes scroll {
   0%  	{margin-top: 0px;}
   15% 	{margin-top: 0px;}

   25%  {margin-top: -5.5rem;}
   40%  {margin-top: -5.5rem;}
   
   50%  {margin-top: -11rem;}
   65%  {margin-top: -11rem;}

   75%  {margin-top: -16.5rem;}
   90%  {margin-top: -16.5rem;}

   100% {margin-top: 0px;}
}

@media screen and (max-width: 1000px) {
  .ticker {
    height: 3.5rem;
  }

  .ticker .ticker-container { animation: 9s normal infinite running scroll; }
  @keyframes scroll {
     0%  	{margin-top: 0px;}
     15% 	{margin-top: 0px;}
  
     25%  {margin-top: -3.75rem;}
     40%  {margin-top: -3.75rem;}
     
     50%  {margin-top: -7.5rem;}
     65%  {margin-top: -7.5rem;}
  
     75%  {margin-top: -11.25rem;}
     90%  {margin-top: -11.25rem;}
  
     100% {margin-top: 0px;}
  }
}

@media screen and (max-width: 580px) {
  .ticker {
    height: 2rem;
  }

  .ticker .ticker-container { animation: 9s normal infinite running scroll; }
  @keyframes scroll {
     0%  	{margin-top: 0px;}
     15% 	{margin-top: 0px;}
  
     25%  {margin-top: -1.8rem;}
     40%  {margin-top: -1.8rem;}
     
     50%  {margin-top: -3.6rem;}
     65%  {margin-top: -3.6rem;}
  
     75%  {margin-top: -5.4rem;}
     90%  {margin-top: -5.4rem;}
  
     100% {margin-top: 0px;}
  }
}