.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 5rem;
  padding: 0.5rem 1rem 0.2rem 1rem;
}

.navigation {
  display: flex;
  height: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.9rem;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  color: #0e1525;
}

.scroll {
  background-color: #091020;
}

.active {
  color: #fd4766;
  border-bottom: 0.2rem solid #fd4766;
}
