.resume {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  border: 2px solid var(--color-secondary);
  align-self: flex-start;
  border-radius: 500px;
  padding: 1.2rem;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

.resume:hover {
  cursor: pointer;
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: white;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

@media screen and (max-width: 580px) {
  .resume {
    font-size: 1rem;
    padding: 1rem;
  } 
}